{% extends 'photos/base.html' %}

{% block style %}
    {{ block.super }}
{% endblock style %}


{% block content %}
    <h2>Welcome to Images</h2>
    {% if images %}
    <div class="container">
        <div class="row">
            {% for image in images %}
            <div class="col-md-4">
                <p>{{image.title }}</p>
                <img src="{{image.image.url}}" alt="{{image.title}}"
                height="350" width="100%" title="{{image.title}}">
            </div>                      
            {% endfor %}
        </div>    
    </div>      
    {% endif %}
    
{% endblock content %}